*{
    margin: 0px;
    padding:  0px;
}
.box{
    width:  600px;
    height: 300px;
    border:  2px solid;
    border-color: red;
    margin: 20px auto;

}

.box-Child{
    text-align: center;
    background-color: chocolate;
    border: 2px solid;
    text-decoration: blueviolet;
    width: 550px;
    height: 250px;
    margin: 20px auto;
    line-height: 250px;

}


